body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #C0C0C0; /* Change to your preferred color */
    background-color: #642667; /* Change to your preferred color */
    font-family: Arial, sans-serif;
    font-size: 2.5vmin;
    padding-top: 1vw;
    padding-bottom: 3vw;
}
h1 {
    text-align: center;
    margin-bottom: 0.1em; /* Reduce bottom margin */
    font-size: calc(1em + 3vw);
}
p {
    text-align: center;
    margin-top: 0.5em; /* Reduce top margin */
    margin-bottom: 0.5em;
}

a:hover {
    text-decoration: aliceblue;
} 

ul {
    list-style: none;
}
ul li::before {
    content: "• ";
    color: #C0C0C0; /* This will change the list dot color to white */
}

ul li a {
    color: #C0C0C0; /* This will change the song name color to white */
    text-decoration: none;
}

#search {
    padding: 0.5em;
    font-size: 2vw;
    border: none;
    border-radius: 0.5em;
    margin-right: 0.5em;
    background-color: #C0C0C0;
}

button {
    background-color: #000000; /* Change to your preferred color */
    border: none;
    padding: 0.5em 1em;
    margin: 0.5em;
    font-size: 4.5vmin;
    cursor: pointer;
    border-radius: 0.5em;
    user-select: none;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input[type="text"] {
    width: 100%; /* Increase as needed */
    padding: 0.5em;
    background-color: #C0C0C0;
}

textarea#lyrics {
    width: 100%; /* Increase as needed */
    height: 200px; /* Increase as needed */
    padding: 0.5em;
    background-color: #C0C0C0;
}