<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/pico.violet.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Admin Page</title>
</head>
<body class="container overflow-auto">
    <h1>Add a Song</h1>
    <form action="/songbook/add" method="post">
        <input type="hidden" id="song_id" name="song_id">
        <input type="text" id="name" name="name" placeholder="Pealkiri"><br>
        <textarea id="lyrics" name="lyrics" placeholder="Sõnad"></textarea><br>
        <input type="text" id="genre" name="genre" placeholder="Žanrid (komaga eraldatud)"><br>
        <input type="text" id="author" name="author" placeholder="Autorid (komaga eraldatud)"><br>
        <input type="submit" value="LISA LAUL">
    </form>
    <h1>KUSTUTA LAUL</h1>
    <ul>
        {% for song in songs %}
        <li>
            <a href="#" onclick="loadSong('{{ song.id }}'); return false;">{{ song.name }}</a>
            <button style="font-size: 1vw;" onclick="deleteSong('{{ song.id }}')">❌</button>
        </li>
        {% endfor %}
    </ul>
    <script>
    function deleteSong(songId) {
        fetch('/songbook/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'song_id=' + songId,
        })
        .then(response => response.text())
        .then(data => alert(data));
    }
    function loadSong(songId) {
    fetch('/songbook/song/' + songId)
    .then(response => response.json())
    .then(data => {
        document.getElementById('song_id').value = songId;
        document.getElementById('name').value = data.name;
        document.getElementById('lyrics').value = data.lyrics;
        document.getElementById('genre').value = data.genre;
        document.getElementById('author').value = data.author;
    });}
    </script>
</body>
</html>