<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/pico.violet.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
    var songs = {{ songs|tojson|safe }}; 

    // Make sure you initially render the list of songs in your HTML
    const songList = $('#song-list'); 
    renderSongList(songs); 

    $('#search_in_lyrics').on('change', function() {
        $("#search").trigger('input');
    });

    $("#search").on('input', function() {
        const query = $(this).val().toLowerCase();
        const searchInLyrics = $('#search_in_lyrics').is(':checked');
        const filteredSongs = songs.filter(song => {
            const nameIncludesQuery = song.name.toLowerCase().includes(query);
            const lyricsIncludesQuery = song.lyrics.toLowerCase().includes(query);
            return searchInLyrics ? (nameIncludesQuery || lyricsIncludesQuery) : nameIncludesQuery;
        });
        renderSongList(filteredSongs);
    });

    function renderSongList(songs) {
        songList.empty(); 
        songs.forEach(function(song) {
            var songName = song.name.replace(/&quot;/g, '\"');
            var songName = encodeURIComponent(song.name);
            songList.append(`<h4><li><a href="/songbook/${songName}">${song.name}</a>
                - "${song.first_three_words}..."
                </li></h4>`);
        });
    }
});

    </script>
    <title>Songbook</title>
</head>
<body>
    <nav class="container">
        <ul>
            <a href="/songbook"><li><strong>Korp! Vironia laulik</strong></li></a>
            <a href="/songbook"><img src="/static/vironia_vapp.png" alt="Vironia vapp" style="width: 2rem;"></a>
        </ul>
    </nav>
    <main class="container overflow-auto">
        <form style="align-items: center;" role="group" action="/songbook" method="get">
            <input autocomplete="off" type="search" id="search" name="query" placeholder="Otsi laulu" value="{{ request.args.get('query', '') }}">
            
            <button type="submit">
                <img src="/static/search.png" alt="Sort" style="width: 2rem;">
            </button>
            <button data-placement="left" data-tooltip="Vaheta järjestust" class="secondary" type="submit" name="flip_sort" value="true">
                <img src="/static/sort.png" alt="Sort" style="width: 2rem;">
            </button>
            <label style="padding-left: 1rem;" for="search_in_lyrics">Otsi ka sõnades</label>
            <input style="height: 3rem; width: 3rem;"  type="checkbox" id="search_in_lyrics" name="search_in_lyrics" {{ 'checked' if request.args.get('search_in_lyrics', session.get('search_in_lyrics', False)) else '' }}>        </form>
        <ul id="song-list">
        </ul>

        <blockquote>
            <img src="/static/vironia_laulik.png" alt="Vironia vapp" style="width: 80px;">
            „Laula nagu Vironus - valjusti ja valesti.“
            <footer>
              <cite>— b!vil! Magister Canister</cite>
            </footer>
          </blockquote>
    </main>
    <footer class = "container">Lehe looja ja haldaja:<br> b!vil! Anton Žatkin<br> anton.zatkin@vironia.ee</footer>
</body>
</html>