<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/pico.violet.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{{ song.name }}</title>
    <style>
        .container {
            text-align: center !important;
        }
    </style>
</head>
<body>
    <nav class="container">
        <ul>
            <a href="/songbook"><li><strong>Korp! Vironia laulik</strong></li></a>
            <a href="/songbook"><img src="/static/vironia_vapp.png" alt="Vironia vapp" style="width: 2rem;"></a>
        </ul>
    </nav>
    <main class="container overflow-auto ">
            <h1 style="color:#d3d3d3">{{ song.name }}</h1>
            {% if song.authors|length > 0 and song.authors[0].name != "" %}
                <div style="opacity: 0.7;">{% if song.authors|length > 1 %}
                        Autorid: {{ song.authors|map(attribute='name')|join(', ') }}
                    {% else %}
                        Autor: {{ song.authors[0].name }}{% endif %}</div>
            {% endif %}
            {% if song.genres|length > 0 and song.genres[0].name != "" %}
                <div style="opacity: 0.7;">{% if song.genres|length > 1 %}
                        Žanrid: {{ song.genres|map(attribute='name')|join(', ') }}
                    {% else %}
                        Žanr: {{ song.genres[0].name }}{% endif %}</div>        
            {% endif %}
            <hr/>
            <h4><p style="color:#C0C0C0">{{ song.lyrics|replace('\n', '<br>')|safe }}</p>  <!-- Added replace and safe filters --></h4>
            <a href="/songbook" style="font-size: 3vw; padding: 10px; background-color: transparent !important; text-decoration: none;">↩️</a>
    </main>
</body>
</html>